body{
    background-size: cover;
}
.heading{
    text-align: center;
    font-size: 23px;
    color: black;
    width: 100%;
    margin: 0;
}
b{
    font-size: 18px;
}
h2{
    color: white;
}
input{
    width: 300px;
    height: 50;
    font-size: 20px;
}
canvas{
    margin-top: 100px;
    color: aliceblue;
    border: 15px solid white;
    border-radius: 15px;
}
